html {
    overflow-y: scroll;
    font-size: .85rem;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #fefefe;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fefefe;
}
/* Default body font */
body {
  font-family: var(--font-lato), sans-serif;
}

/* Headings */
h1, h2, h3 {
  font-family: var(--font-montserrat), sans-serif;
  font-size:small;
}
 h4,h5{
  font-family: var(--font-montserrat), sans-serif;
  font-size:small;
}
h6{
     font-family: var(--font-montserrat), sans-serif;
  font-size:20; 
}

code, pre {
  font-family: var(--font-jetbrains), monospace;
  background: #f1f5f9;
  padding: 2px 6px;
  border-radius: 6px;
}
